.filter select {
  @apply border-2 rounded-xl py-2 px-4 ml-3 border-[#d1d1d1]
}

.pagination svg {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.pagination svg.disabled {
  @apply cursor-not-allowed fill-gray-300;
}

.pagination button {
  @apply rounded-xl py-3 px-4 text-black hover:bg-orange-500 transition hover:shadow font-semibold hover:text-white
}

.pagination button.active {
  @apply bg-orange-500 text-white
}
