.banner-1 {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%, 0 100%);
}

.banner-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.banner-1 .content {
  position: relative;
  z-index: 2;
}
